<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Gadanko</title>

    <link th:href="@{/css/master.css}" rel="stylesheet" />
    <link th:href="@{/css/chat.css}" rel="stylesheet" />

    <link rel="stylesheet" href="../static/css/chat.css">
    <link rel="stylesheet" href="../static/css/master.css">
    <script type="text/javascript" src="../static/js/actions.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script type="text/javascript" th:src="@{/js/actions.js}"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dangrek&family=Sofadi+One&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">

        <div class="logout-button" onclick="return_page('home')">
            <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" fill="#e3e3e3"><path d="m274-450 248 248-42 42-320-320 320-320 42 42-248 248h526v60H274Z"/></svg>
        </div>

        <div class="menu">
            <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" fill="#e3e3e3"><path d="M480-481q-66 0-108-42t-42-108q0-66 42-108t108-42q66 0 108 42t42 108q0 66-42 108t-108 42ZM160-160v-94q0-38 19-65t49-41q67-30 128.5-45T480-420q62 0 123 15.5t127.92 44.69q31.3 14.13 50.19 40.97Q800-292 800-254v94H160Zm60-60h520v-34q0-16-9.5-30.5T707-306q-64-31-117-42.5T480-360q-57 0-111 11.5T252-306q-14 7-23 21.5t-9 30.5v34Zm260-321q39 0 64.5-25.5T570-631q0-39-25.5-64.5T480-721q-39 0-64.5 25.5T390-631q0 39 25.5 64.5T480-541Zm0-90Zm0 411Z"/></svg>
        </div>

        <div class="info">
            <h1 id="group-name">group</h1>
            <script>
                var name = new URLSearchParams(window.location.search).get("group")
                document.getElementById("group-name").textContent = name
            </script>

        </div>
        <div class="identity">
            <h3>
                You chat as: 
                <span id="user">user</span>
            </h3>
        </div>
        <div class="chat-border"></div>
        <div class="chat-box" id="chat-box" th:if="${not#lists.isEmpty(mockchat)}">
            <div class="message" th:each="message : ${mockchat}">
                <div class="pfp"></div>
                <div class="name-date"><span th:text="${message.username}"></span> | <span th:text="${message.date}"></span> </div>
                <div class="message-text" >
                    <span th:text="${message.text}"></span>
                </div>
            </div>
        </div>
        <div class="input-box">

            <input type="text" id="message_input" autocomplete="off">
            <input type="submit" value="Send" onclick="send_message()">

        </div>
        <div class="div-footer">Copyright© 2025</div>
    </div>
    <script>connect()</script>
</body>
</html>