form{
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 90%;
    margin: auto;
    
}
input{
    width: 80%;
    height: 30px;
    font-size: 24px;
    grid-column: 2;
    margin-bottom: 20px;
    background-color: azure;
}
label{
    grid-column: 1;
    margin-bottom: 20px;
}
input[type=submit]{
    height: 40px;
    width: 120px;
    margin: auto;
}