body{
    margin: 0px;
    background-color: var(--main-color);
    font-size: 24px;
    font-family: "Dangrek";
}
:root{
 --main-color: #8aa3e9;
 --main-light-color: #969cf5;
 --sec-color: #1d1d38;
 --light-color: azure;
}
.menu{
    background-color: var(--sec-color);
    grid-column: 5;
    border-radius: 0px 0px 0px 100%; 
    border-bottom: 6px double var(--light-color);
    border-left: 6px double var(--light-color);
    
}
.menu:hover{
    border-radius: 0px 0px 0px 50%; 
    background-color: #1e1e6e;
}
.menu svg{
    margin-left: 40px;
    margin-top: 10px;
}
.logout-button{
    background-color: var(--sec-color);
    grid-column: 1;
    border-radius: 0px 0px 100% 0px; 
    border-bottom: 6px double var(--light-color);
    border-right: 6px double var(--light-color);
}
.logout-button:hover{
    border-radius: 0px 0px 50% 0px;  
    background-color: #1e1e6e;
}
.logout-button svg{
    margin-left: 5px;
    margin-top: 10px;
}